<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criminal Alert</title>
    <link rel="stylesheet" href="../css/zeroing.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header class="header">
        <nav class="navigation">
            <div class="logo-container">
                <a class="logo-ref" href="./main.html">
                    <img class="logo-image" src="../static.images/criminalAlertLogo.png" alt="">
                    <strong>Criminal Alert</strong>
                </a>
            </div>
            <ul class="menu">
                <li class="menu-list" id="menu-crimes">
                    <a class="menu-list-ref" href="#">Crimes</a>
                </li>
                <li class="menu-list" id="menu-mails">
                    <a class="menu-list-ref" href="#">Mails</a>
                </li>
                <li class="menu-list" id="menu-contacts">
                    <a class="menu-list-ref" href="#">Contacts</a>
                </li>
                <li class="menu-list" id="menu-addresses">
                    <a class="menu-list-ref" href="#">Addresses</a>
                </li>
                <li class="menu-list" id="menu-registration">
                    <a class="menu-list-ref" href="#">Registration</a>
                </li>
                <li class="menu-list" id="menu-sign-in">
                    <a class="menu-list-ref" href="#">Sign in</a>
                </li>
                <li class="menu-list" id="menu-sign-out">
                    <a class="menu-list-ref" href="#">Sign out</a>
                </li>
                <li class="menu-list" id="menu-account">
                    <a class="menu-list-ref" href="#">Account</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main-container">
        <section class="main-section-1">
            <div id="danger-image"></div>
        </section>
    </main>
    <footer class="footer">
        <section class="footer-section-1">
            <ul class="footer-contacts">
                <li class="footer-list-contacts" id="footer-contacts-linkedin">
                    <a target="_blank" href="https://www.linkedin.com/in/petro-shulha-7051a2245">LinkedIn</a>
                </li>
                <li class="footer-list-contacts" id="footer-contacts-gmail">
                    <a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=forest23557@gmail.com">Gmail</a>
                </li>
                <li class="footer-list-contacts" id="footer-contacts-github">
                    <a target="_blank" href="https://github.com/Forest23557/a-level-final-project-criminal-alert">GitHub</a>
                </li>
            </ul>
            <div id="author">© by Petro Shulha</div>
        </section>
    </footer>
</body>

</html>